# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.env/

# Jupyter
.ipynb_checkpoints/

# Datasets
data/raw/
*.wav
*.flac

# Model files
*.pth
*.pt
*.ckpt

# Temporary files
*.tmp
*.log

# OS
.DS_Store
Thumbs.db
